@import "../../styles/main.scss";

.list {
    padding: 25px;
}

.table {
    background-color: $lightblue;
    min-width: 600px;
    margin: 0 auto;
    border: 1px solid $darkblue;
}

thead {
    text-align: center;
    @include subtitle-font;
}

.title {
    text-align: center;
    @include title-font;
}
