@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/screen.scss";

.table {
    background-color: $lightblue;
    flex: 1 0;
    min-width: 600px;
    margin: 75px auto 25px auto;
    border: 1px solid $darkblue;
}

thead {
    text-align: center;
    @include subtitle-font;
}

.title {
    text-align: center;
    @include title-font;
}