@import "../../styles/main.scss";

.tr {
  width: 100%;

  & td:nth-child(3) {
    vertical-align: middle;
    display: table-cell;
    width: 200px;
  }
}

.buttons {
  text-align: center;
  display: flex;
  border: none;
  align-items: center;
  height: 100%;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 20px;
  }
}

.words {
  @include text-font;
  font-family: Georgia, serif;
  padding-left: 5px;
}

.iteminput {
  @include input;
  width: 100%;
  border: 1px solid $darkblue;
  border-radius: 6px;
  height: 100%;
}

.errorinput {
  border: 0.1em solid red;
  background-color: #eda8a8;
}

.greeninput {
  border: 0.1em solid green;
  background-color: #89b777;
}

.notvalid {
  color: red;
  background-color: $lightblue;
  @include text-font;
  font-family: Georgia, serif;
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.smallorangebutton {
  @include smallorangebutton;
}

.smallorangebutton:hover {
  background: $deeporange;
}

.smallgreenbutton {
  @include smallorangebutton;
  background-color: green;
}

.smallgreenbutton:hover {
  background: darkgreen;
}

.smallredbutton {
  @include smallorangebutton;
  background-color: red;
}

.smallredbutton:hover {
  background: darkred;
}

.edit {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06),
    0px 2px 8px rgba(0, 140, 255, 0.1);
}
