@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/screen.scss";

.buttons {
    max-width: 210px;
    text-align: center;
}

.words {
    font-size: $normalfont;
    font-family: $font;
    padding-left: 5px;
}

.iteminput {
    @include everyinput;
    height: 30px;
    width: 190px;
}

.smallorangebutton {
    @include smallorangebutton;
}

.smallorangebutton:hover {
    background: $deeporange;
}

.smallgreenbutton {
    @include smallorangebutton;
    background-color: green;
}

.smallgreenbutton:hover {
    background: darkgreen;
}

.edit {
    box-shadow: 0px 0px 10px 0px #000;
    color: white;
    background-color: $darkblue;
}

