@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/screen.scss";

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
}

.col {
    padding: 25px;
    display: flex;
    flex: 1 0;
    justify-content: center;
}

.rowtags {
    @include subtitle-font;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: $lightblue;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.tag {
    color: $darkblue;
    cursor: pointer;
}

.tag:hover {
    color: $deeporange;
    text-decoration: underline;
}