@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/screen.scss";

.header {
    background-color: $darkblue;
    color: $white;
    list-style: none;
    @include zero;
    // height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
}

.smallul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top:25px;
    height: 50px;
    z-index: 1;
}

.namesite {
    text-decoration: none;
    padding:0px 15px;
    font-family: $font;
    @include title-font;
    line-height:50px;
    display: block; 
    color: white;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.mainli {
    text-decoration: none;
    padding:0px 15px;
    font-family: $font;
    @include text-font;
    line-height:50px;
    display: block; 
    color: white;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.mainli:hover {
    background:$lightblue;
    color: black;
}

.namesite:hover {
    color: white;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    float:left;
    position:relative;
    background: $darkblue;   
}

li > ul {
    position: absolute;
    top: 25px;
    display: none;
}

li:hover > ul {
    display:block; 
    width:250px;
}
li:hover > ul > li {
    float:none;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.search {
    @include everyinput;
}

.searchbutton {
    @include orangebutton;
}

.searchbutton:hover {
    background: #bf5d1c;
}

.searchbutton:focus {
    outline: none;
    box-shadow: 0 0 0 4px $orange;
}