@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.button {
    font-family: $font;
}

.mainul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $darkblue;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    text-decoration: none;
    padding:0px 15px;
    font-family: $font;
    font-size: $bigfont;
    line-height:50px;
    display: block; 
    color: white;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
    background:$lightblue;
    color: black;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    float:left;
    position:relative;
    background: $darkblue;   
}
 