@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/screen.scss";

.card {
    text-align: center;
    width:300px;
    background-color: $lightblue;
    border-color: $darkblue;
    @include subtitle-font;

    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-height: 650px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 450px;
}

.img {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 100%;
    vertical-align: middle;
}

.cardbody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 30px;
}

h5 {
    font-weight: bold;
    margin-bottom: .5rem;
}

h6 {
    margin-top: -.25rem;
    margin-bottom: 0;
}

.checkbutton {
    @include orangebutton;
}

.checkbutton:focus {
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    transform: scale(1);
    animation: radial-pulse 3s infinite;
    outline: 0;
}

.checkbutton:hover {
    background: $deeporange;
}

@keyframes radial-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}